<html>
  <head> </head>
  <body>
    パスワード認証とソーシャル認証のサンプル
  </body>
  <h1>パスワード認証</h1>
  <p style="font-weight: bold;">ユーザー登録</p>
  name:<input type="text" id="text-name"></input>
  email:<input type="text" id="text-email"></input>
  <br>
  username:<input type="text" id="text-username"></input>
  pasword:<input type="text" id="text-password"></input>
  <br>
  <button id="button-create">register</button>
  <br>
  <p style="font-weight: bold;">ログイン</p>
  username:<input type="text" id="text-username-login"></input>
  pasword:<input type="text" id="text-password-login"></input>
  <br>
  <button id="button-login">login</button>
  <br>
  <p style="font-weight: bold;">ログアウト(パスワード認証, ソーシャル認証共通)</p>
  <button id="button-logout">logout</button>
  <br>
  <h1>twitter認証</h1>
  <button id="button-twitter-create">oauth2 twitter register</button>
  <button id="button-twitter-login">oauth2 twitter login</button>
  <br>
  <h1>google認証</h1>
  <button id="button-google-create">oauth2 google register</button>
  <button id="button-google-login">oauth2 google login</button>
  <br>
</html>

<script>
  // create
  document.getElementById("button-create").onclick = function() {
    const data = {
      name: document.getElementById("text-name").value,
      email: document.getElementById("text-email").value,
      username: document.getElementById("text-username").value,
      password: document.getElementById("text-password").value,
    };
    const param  = {
      method: "POST",
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      },
      body: JSON.stringify(data)
    };
    fetch(clinetOrigin + '/users', param)
    .then((res)=>{
      return( res.json() );
    })
    .then((data)=>{
      console.log('create owata');
    });
  };

  // login
  document.getElementById("button-login").onclick = function() {
    const data = {
      username: document.getElementById("text-username-login").value,
      password: document.getElementById("text-password-login").value,
    };
    const param  = {
      method: "POST",
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      },
      body: JSON.stringify(data)
    };
    fetch(clinetOrigin + '/users/login', param)
    .then((res)=>{
      return( res.json() );
    })
    .then((data)=>{
      console.log('login owata');
    });
  };

  // logout
  document.getElementById("button-logout").onclick = function() {
    const data = {};
    const param  = {
      method: "POST",
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      },
      body: JSON.stringify(data)
    };
    fetch(clinetOrigin + '/users/logout', param)
    .then((res)=>{
      return( res.json() );
    })
    .then((data)=>{
      console.log('logout owata');
    });
  };

  // twitter 新規登録
  document.getElementById("button-twitter-create").onclick = function() {
    localStorage.setItem("OAUTH_PROVIDER", 'twitter')
    localStorage.setItem("OAUTH_MODE", 'create')
    // ■GET
    fetch(clinetOrigin + "/oauth/twitter/url")
    .then((response) => response.json())
    .then((data) => {
      console.log("Success fetch-token:", data)
      location.href=data.url;
    })
    .catch((error) => {
      console.error("Error:", error)
    })
  };

  // twitter ログイン
  document.getElementById("button-twitter-login").onclick = function() {
    localStorage.setItem("OAUTH_PROVIDER", 'twitter')
    localStorage.setItem("OAUTH_MODE", 'login')
    // ■GET
    fetch(clinetOrigin + "/oauth/twitter/url")
    .then((response) => response.json())
    .then((data) => {
      console.log("Success fetch-token:", data)
      location.href=data.url;
    })
    .catch((error) => {
      console.error("Error:", error)
    })
  }; 

  // google 新規登録
  document.getElementById("button-google-create").onclick = function() {
    localStorage.setItem("OAUTH_PROVIDER", 'google')
    localStorage.setItem("OAUTH_MODE", 'create')
    // ■GET
    fetch(clinetOrigin + "/oauth/google/url")
    .then((response) => response.json())
    .then((data) => {
      console.log("Success fetch-token:", data)
      location.href=data.url;
    })
    .catch((error) => {
      console.error("Error:", error)
    })
  };

  // google ログイン
  document.getElementById("button-google-login").onclick = function() {
    localStorage.setItem("OAUTH_PROVIDER", 'google')
    localStorage.setItem("OAUTH_MODE", 'login')
    // ■GET
    fetch(clinetOrigin + "/oauth/google/url")
    .then((response) => response.json())
    .then((data) => {
      console.log("Success fetch-token:", data)
      location.href=data.url;
    })
    .catch((error) => {
      console.error("Error:", error)
    })
  }; 

  // localhost or ipだと何故かクッキー送信できないのでhostでフォワーディングする事
  serverOrigin = "http://server.test.com:3000"
  clinetOrigin = "https://df6e-2400-2200-622-b4b8-41f2-2585-d918-4047.jp.ngrok.io/"

  const code = getParam("code", window.location.href)
  if(code){
    // ■GET
    fetch(clinetOrigin + "/twitter/fetch-token?code=" + encodeURIComponent(code))
    .then((response) => response.json())
    .then((data) => {
      console.log("Success fetch-token:", data)
      fetch(clinetOrigin + "/twitter/get-user-info?token=" + data.token)
      .then((response) => response.json())
      .then((data) => {
        console.log("Success get-user-info:", data)
      })
    })
    .catch((error) => {
      console.error("Error:", error)
    })
  }

  function getParam(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
</script>
